@import 'styles/variables.scss';

.footer {
  padding: 1rem 0;
  background: $light-gray;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 375px) {
      padding: 0;
    }

    .label {
      margin: 0 0.4rem;
      font-size: $small-size;

      @media (max-width: 375px) {
        margin: 0;
      }
    }
    .icon {
      filter: invert(1);
    }
    .divider {
      &::before {
        top: 0.8em;
        height: 50%;
        border-color: $white;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  .footer {
    background: rgba($black, 0.05);

    .content {
      .icon {
        filter: invert(0);
      }
      .divider {
        &::before {
          border-color: $black;
        }
      }
    }
  }
}
