@import '/src/styles/variables.scss';

.container {
  padding: 0;
  .content {
    margin: 0;
    .aside {
      padding: 0;
      display: flex;

      @media (max-width: 790px) {
        display: none;
      }
    }
    .main {
      background: $black;
      padding-inline: 4rem;
    }
  }
}
