@import '/src/styles/variables.scss';
@import '/src/styles/ui/texts/styles.module.scss';

.container {
  padding: 0;

  .content {
    margin: 0;

    .aside {
      top: 0;
      padding: 0;
      display: flex;
      position: sticky;
      max-height: 100vh;

      @media (max-width: 790px) {
        display: none;
      }
    }

    .main {
      padding: 0 4rem;
      background: $black;

      @media (max-width: 780px) {
        padding: 0 1rem;
      }
    }
  }
}

.title {
  font-weight: bold;
  width: fit-content;
  position: relative;

  &::before {
    width: 40%;
    height: 2px;
    content: '';
    bottom: -5px;
    position: absolute;
    background: $light-primary;
  }
  &::after {
    left: 0;
    width: 20%;
    content: '';
    height: 1.5px;
    bottom: -10px;
    position: absolute;
    background: $light-primary;
  }
}
