@import '/src/styles/variables.scss';

.input {
  width: 100%;
  border: none !important;
  background: $gray !important;
  border-radius: 11px !important;
}

.password {
  width: 100%;

  input {
    @extend .input;
  }
}
