@import '/src/styles/public/styles.module.scss';
@import '/src/styles/variables.scss';

.about {
  .title {
    margin-bottom: 3rem;
  }
  .subtitle {
    margin-bottom: 1.5rem;
    .name {
      font-weight: bold;
      color: $light-primary;
    }
  }
  .list {
    .item {
      @extend .small;
      color: $white;
      margin: 1rem 0;
      background: transparent;
      border-bottom: 1px solid $gray;

      p {
        margin: 0;
      }

      .english {
        :global(.pi-star-fill) {
          margin-top: 0.3rem;
          color: $light-primary;
        }
      }
    }
  }
  .skills {
    max-height: 20rem;
    overflow: auto;
    .item {
      @extend .small;
      color: $white;
      background: transparent;

      .progress {
        margin-top: 0.5rem;
        background: $light-gray;
        :global(.progress-bar) {
          color: $black;
          font-weight: bold;
          background: $primary;
          transition: background 0.3s;

          &:hover {
            background: $light-primary;
          }
        }
      }
    }
  }
}
