@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

html {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $white;
  background: $black;
  font-family: $font-montserrat;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: $black;
    background: $white;
  }
}
