@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

html {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $white;
  background: $black;
  font-family: $font-montserrat, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.scroll-to-top {
  background: rgba($white, 0.5) !important;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $gray;
}
::-webkit-scrollbar-thumb:active {
  background: $white;
}
::-webkit-scrollbar-track {
  background: $black;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: $black;
    background: $white;
  }
}
