@import './theme.scss';

.card {
  border: none !important;

  &_background {
    filter: brightness(0.4) grayscale(1) contrast(0.8);
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  &_overlay {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;

    &_logo {
      filter: grayscale(1) brightness(2);
      transition: filter 0.3s;
      &_invert {
        filter: invert(1);
      }
      &:hover {
        filter: grayscale(0);
        transition: filter 0.3s;
      }
    }

    @media (max-width: 500px) {
      align-items: flex-end;
    }
    @media (max-width: 900px) {
      &_title {
        font-size: 28px;
      }
      &_subtitle {
        font-size: 20px;
      }
      &_description {
        font-size: 16px;
      }
    }
  }
}
