@import './theme.scss';

.card {
  border: none !important;
  &_background {
    filter: brightness(0.6) grayscale(1);
    border-radius: 0;
    height: 100vh;
    object-fit: cover;
    @media (max-width: 500px) {
      height: 130vh;
      object-fit: cover;
    }
  }
  &_overlay {
    padding-top: 6rem;
    text-align: center;
    &_body {
      color: $white;
      &_logo {
        filter: grayscale(1) brightness(2);
        transition: filter 0.3s;
        &_invert {
          filter: invert(1);
        }
        &:hover {
          filter: grayscale(0);
          transition: filter 0.3s;
        }
      }
      @media (max-width: 900px) {
        &_title {
          font-size: 28px;
        }
        &_subtitle {
          font-size: 20px;
        }
        &_description {
          font-size: 16px;
        }
      }
    }
  }
}
