@import './theme.scss';

.card {
  border: none !important;
  &_background {
    filter: brightness(0.6) grayscale(1);
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    @media (max-width: 500px) {
      height: 102vh;
    }
    @media (max-width: 410px) {
      height: 112vh;
    }
  }
  &_overlay {
    padding-top: 6rem;
    height: 100%;
    text-align: center;
    @media (max-width: 500px) {
      padding-top: 3rem;
    }
    &_body {
      color: $white;
      &_logo {
        filter: grayscale(1) brightness(2);
        transition: filter 0.3s;
        &_invert {
          filter: invert(1);
        }
        &:hover {
          filter: grayscale(0);
          transition: filter 0.3s;
        }
      }
      @media (max-width: 500px) {
        align-items: flex-end;
      }
      @media (max-width: 900px) {
        &_title {
          font-size: 28px;
        }
        &_subtitle {
          font-size: 20px;
        }
        &_description {
          font-size: 16px;
        }
      }
    }
  }
}
