$defaultFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$theme-colors: (
  'primary': #333,
);

$white: #f3f3f3;
