// font families
$font-anton: 'Anton';
$font-oswald: 'Oswald';
$font-montserrat: 'Montserrat';

// font-size
// desktop
$big-size: 38px;
$title-size: 26px;
$small-size: 15px;
$regular-size: 18px;
$subtitle-size: 22px;

// mobile
$mobile-big-size: 34px;
$mobile-title-size: 22px;
$mobile-small-size: 15px;
$mobile-regular-size: 15px;
$mobile-subtitle-size: 18px;

// colors
$gray: #161b22;
$white: #ffffff;
$black: #0d1117;
$primary: #0050ac;
$light-gray: #242c38;
$light-primary: #58a6ff;
