@import '/src/styles/ui/texts/styles.module.scss';
@import '/src/styles/variables.scss';

.platzi {
  padding: 1rem 0;
  .subtitle {
    text-align: center;
    margin-bottom: 2rem;
  }
  .small {
    width: 5%;
    font-weight: bold;
    margin-bottom: 1rem;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid $primary;
  }
  .pic {
    margin: 0 0.3rem;
    object-fit: cover;
  }
}
