@import '/src/styles/variables.scss';
@import '/src/styles/ui/texts/styles.module.scss';
@import '/src/styles/ui/buttons/styles.module.scss';

.navbar {
  display: none;
  background: $gray;
  padding: 1rem 2rem;

  &_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      color: $white;
      margin-bottom: 0;
      font-weight: bold;
      position: relative;
      height: fit-content;

      &::before {
        content: '';
        width: 15px;
        left: -0.5em;
        height: 15px;
        bottom: -0.1em;
        border: 3px solid;
        position: absolute;
        border-color: transparent transparent $primary $primary;
      }
      &::after {
        content: '';
        width: 15px;
        height: 15px;
        border: 3px solid;
        position: absolute;
        border-color: $primary $primary transparent transparent;
      }
    }
    .toggle {
      @extend .button;
      padding: 7px;
      background: transparent;
      border: 1px solid $white;

      div {
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      }
    }
  }

  @media (max-width: 790px) {
    display: block;
  }
}

.offcanvas_header {
  background: $gray;

  button {
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;
  }
}

@media (prefers-color-scheme: light) {
}
